/* .container {
    background-color:#EEEEEE;
} */

.box{
    border-radius: 25px;
    border: 2px solid #73AD21;
    width: 100px;
    height: 100px;
}
svg:not(:root){overflow: visible!important;}
.y-top{  
    margin-left: 84px;margin-top: 50px;position: absolute;overflow: visible;background-color: #1fcc1f;}
.y-bottom{margin-top: 409px;
    margin-left: 84px;position: absolute; background-color: #1fcc1f;
}
.x-left{    margin-top: 546px;
    margin-left: 232px;position: absolute;overflow: visible;background-color: #1fcc1f;}
.x-right{margin-top: 546px;margin-left:644px;position: absolute;overflow: visible;background-color: #1fcc1f;}

#chart-area1{
    position: absolute;    
    margin-left: 170px;
}
table{
    margin-top: 46px;
}
.xyz{position: relative;}

.tick {
    color: #787878;
    font-weight: bold;
    font-size: 10px;
}

.y-axis-label, .x-axis-label {
    fill: #787878;   
}

.y-axis-line {
    color:white;
}

.x-axis-line {
    color: white;
}

.left-bars{
 margin-left:16px;
}
.right-bars{
    margin-left:16px;
}
.dropdowns{   
    margin-left: 352px;
    margin-top: 589px;
    position: absolute;
}
.card{margin-left:800px}
.compare{
    width: 268px;
    height: 224px;
    border-style: groove;
    
}
#select1{
    width: 121px;
}
#select{
    width: 121px;
}
#CompareDivTable{
    margin-left:5px;
}
.compare>svg{margin-left:10px;}
.tick {
    color: #787878;
    stroke-width: 0.2px;
    stroke-dasharray: 2;
}

.xOriginLine, .yOriginLine {
    stroke: #787878;
    /* stroke: red; */
    stroke-width: 1.2px;
}



.dropdown-content {
    display: none;
    position: absolute;
    height: 90%;
    top: 36px;
    left: 64px;
    right: -342px;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.selected{fill: #73AD21}

.show {display: block;}
.left-section{    margin-left: -8px; overflow: visible;margin-right: 45px;}
.mid-section{margin-left: -154px;}
.right-section{
    margin-left: 219px;
}
.xAxis,.yAxis{width: 250px;}

/* Lasso Styles */

.lasso path {
    stroke: rgb(80,80,80);
    stroke-width:2px;
}

.lasso .drawn {
    fill-opacity:.05 ;
}

.lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
}

.lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
}

.not_possible {
    fill: rgb(200,200,200);
}

.possible {
    fill: #EC888C;
}

.selected {
    fill: steelblue;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar{
    width: 321px;
    background-color: #e15707;
}
#sidebar.active {
    margin-left: -320px;
}
#main-content{width:100%}
.compare{background-color: cornsilk;}
#ToCompare1 svg{margin-top:-6px}
#ToCompare2 svg{margin-top:-146px}
#ToCompare3 svg{margin-top:-286px}
#ToCompare4 svg{margin-top:-420px}
#selectComp{margin-left: 288px;width:25%;margin-top:-21px;background-color: lavender;}
#selectCluster{margin-left: 288px;width:25%;margin-top:-21px;background-color: lavender;}