/* .container {
    background-color:#EEEEEE;
} */

.box{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 120px;
    height: 120px;
}
.x-top{margin:0px 0px 0px 20px;position: absolute;}
.x-bottom{margin:400px 0px 0px 20px;position: absolute;}
.y-left{margin:550px 0px 0px 200px;position: absolute;}
.y-right{margin:550px 0px 0px 790px; position: absolute;}

#chart-area1{
    position: absolute;    
    margin-left: 170px;
}
/* 
.y-axis, .x-axis {
    color: white;
} */
.xyz{position: relative;}

.tick {
    color: #787878;
    font-weight: bold;
    font-size: 10px;
}

.y-axis-label, .x-axis-label {
    fill: #787878;   
}

.y-axis-line {
    color:white;
}

.x-axis-line {
    color: white;
}

.left-bars{
    margin-left: 100px;
    margin-top: 50px
}
.right-section{
    margin-left:160px;
}
.dropdowns{
    margin-left: -300px;
    margin-top: 850px;
}
#select1{
    width: 100px;
    margin-left: 262px;
}
#select{
    width: 100px;
    margin-left: 262px;
}